# Ambientes virtuais e dependências
venv/
.env
__pycache__/
*.pyc

# Dados sensíveis ou gerados
dados/
logs/
*.log
*.sqlite3

# Arquivos de conversão temporários
*.docx
*.pdf
*.txt

# IDEs e configurações locais
.vscode/
.idea/

# Outros
.DS_Store

drivers/

